/* This is a multi-line
comment. Add your CSS code
from Unit 1 - 5 below  */

/*Center text on page*/
h1, h2, p, footer {
  text-align: center;
}

/*Styling for navigation*/
nav {
  background-color: #808080;
  margin: 0 auto;
}
a {
  background-color: #ffbf00;
  color: #fff;
  padding: 35px;
  display: block;
  float: left;
}
a:hover {
  background-color: #ee5f3c;
}

/*Hack to clear floats*/
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


h1 {
  color: rgb(2,132,130);
}
h2 {
  color: #ffd700;
}

p {
  max-width: 600px;
  margin: 0 auto;
}

/*Styling for board and cards*/

.board {
  height: 50%;
  width: 50%;
  display: inline-block;
  float: left;
  margin: 0 30%;
}
.card {
  height: 209px;
  width: 150px;
  background-image: url('card.png');
  background-size: cover;
  float: left;
  margin: 5% 8%;
}

footer {
  background-color: rgba(0,0,0,.3);
  clear: both;
}
.name {
  color: #ff0000;
}

img {
  width: 150px;
}
